<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Product List">
      <div class="row">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Category Name</th>
                <th>Purchase Price</th>
                <th>Sale Price</th>
                <th colspan="3" class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </app-card>
  </div>
</div>
