.center {
  margin: auto;
  text-align: center;
  width: 100%;
}

.center>h2{

  text-transform: uppercase;
}

h6{
margin-left: 2em;
  display: inline;
  display: table;

  text-align: left;
}

body{
  background-color: white;
}

#print-invoice{
  margin-left: 1.5em;
}
