/* You can add global styles to this file, and also import other style files */

/* SCSS */
@import "scss/style";
@import "~ng-snotify/styles/material";

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button:focus,input[type="submit"]:focus{
  outline: none;
}
.row>label{
  padding-top: 0.8em;
  padding-left:1em;
}
